USER_DB_NAME=
USER_DB_USERNAME=
USER_DB_PASSWORD=
USER_DB_PORT=5432

AUTH_DB_NAME=
AUTH_DB_USERNAME=
AUTH_DB_PASSWORD=
AUTH_DB_PORT=5433

ORDER_DB_NAME=
ORDER_DB_USERNAME=
ORDER_DB_PASSWORD=
ORDER_DB_PORT=5434

PAYMENT_DB_NAME=
PAYMENT_DB_USERNAME=
PAYMENT_DB_PASSWORD=
PAYMENT_DB_PORT=27017
KAFKA_CLUSTER_ID=yiHMBQsPQvqLfk1oI_EiCw
KAFKA_EXTERNAL_PORT=29092
KAFKA_PAYMENT_EVENTS_TOPIC=payment-events

RANDOM_NUMBER_API_URL=https://www.random.org/integers/?num=1&min=1&max=1000000&col=1&base=10&format=plain&rnd=new

REDIS_PORT=6379

INTERNAL_API_KEY=

ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_NAME=
ADMIN_SURNAME=
ADMIN_EMAIL=
ADMIN_BIRTHDATE=
