USER_DB_NAME=
USER_DB_USERNAME=
USER_DB_PASSWORD=
USER_DB_PORT=5432

AUTH_DB_NAME=
AUTH_DB_USERNAME=
AUTH_DB_PASSWORD=
AUTH_DB_PORT=5433

ORDER_DB_NAME=
ORDER_DB_USERNAME=
ORDER_DB_PASSWORD=
ORDER_DB_PORT=5434

REDIS_PORT=6379

INTERNAL_API_KEY=

ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_NAME=
ADMIN_SURNAME=
ADMIN_EMAIL=
ADMIN_BIRTHDATE=
