DB_NAME=
DB_URL=mongodb://localhost:27017/payment_db
DB_USERNAME=
DB_PASSWORD=
DB_PORT=27017
RANDOM_NUMBER_API_URL=https://www.random.org/integers/?num=1&min=1&max=1000000&col=1&base=10&format=plain&rnd=new
